* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000;
}

/* HEADER */
.header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.8)),
    url("images/bkg01.jpg") center/cover;
}

/* WRAPPER */
.wrapper {
    display: flex;
    height: 100%;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #444;
    object-fit: cover;
}

.nav {
    list-style: none;
}

.nav li {
    margin: 12px 0;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    color: goldenrod;
}
.nav a.active {
    color: goldenrod;
}
.about p {
    color: #ccc;
    font-size: 16px;
}

.about li {
    color: goldenrod;
    font-size: 15px;
}


.social i {
    color: #fff;
    margin: 8px;
    font-size: 20px;
}

.social i:hover {
    color: goldenrod;
}

/* HERO */
.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
}

.input {
    color: goldenrod;
}

.btn {
    margin-top: 30px;
    padding: 12px 35px;
    border: 2px solid goldenrod;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
}

.btn:hover {
    background: goldenrod;
    color: #111;
}

/* CONTACT */
.contact {
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #111;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.contact p {
    color: #ccc;
    margin-bottom: 40px;
}

.contact-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-item {
    background: #1b1b1b;
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
     
}

.contact-item i {
    color: goldenrod;
}

.contact-item a {
    color: #fff;
    text-decoration: none;
}

.contact-item a:hover {
    color: goldenrod;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .sidebar {
        display: none;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
}
.social a,
.contact-item a {
    cursor: pointer;
}
.social a:hover i {
    transform: scale(1.2);
    transition: 0.3s;
}
.hero-content,
.about,
.projects,
.contact {
    display: none;
    flex: 1;
    color: goldenrod;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.projects h3{
    color: goldenrod;
    font-size: 23px;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}
@media (max-width: 768px) {

    .hamburger {
        display: block;
        color: #fff;
    }

    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100vh;
        background: #111;
        transition: left 0.3s ease;
        z-index: 999;
    }

    .sidebar.active {
        left: 0;
    }

    .hero-content,
    .about,
    .projects,
    .contact {
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
